<h1>Tic Tac Toe</h1>

<body>

<h2><%= @game.game_over %></h2>

<div id="board">
    <table>
      <tr id="row1">
        <td class="square"><%= @game.square(0,0) %></td>
        <td class="square v"><%= @game.square(0,1) %></td>
        <td class="square"><%= @game.square(0,2) %></td>
      </tr>
      <tr id="row2">
        <td class="square h"><%= @game.square(1,0) %></td>
        <td class="square v h"><%= @game.square(1,1) %></td>
        <td class="square h"><%= @game.square(1,2) %></td>
      </tr>
      <tr id="row3">
        <td class="square"><%= @game.square(2,0) %></td>
        <td class="square v"><%= @game.square(2,1) %></td>
        <td class="square"><%= @game.square(2,2) %></td>
      </tr>
    </table>
</div>

<form action="/" method="get">
  <input type="Submit" value="Play again">
</form>